/* PasswordField &inputField with only an underline and no borders */
.underline-inputs {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent deepskyblue; /* Bottom border only */
    -fx-border-width: 0 0 2px 0;  /* 2px thick bottom border */
    -fx-focus-color: blue;         /* Blue underline on focus */
    -fx-faint-focus-color: transparent;
    -fx-padding: 5 0 3 0;
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
}

.forgot-button{
    -fx-text-fill: white;
    -fx-border-color: deepskyblue;
    -fx-background-color: deepskyblue;
    -fx-border-radius: 10;
    -fx-padding: 3 6 6 6;

}
.alert{
    -fx-background-color: white;
    -fx-text-fill: #495057;
}

/* Style the header label inside the alert */
.alert .header-label {
    -fx-font-size: 18px;           /* Larger font size for the header */
    -fx-text-fill: #007bff;        /* Blue color for the header text */
}

.alert .button{
    -fx-background-color: #007bff; /* Blue background for the OK button */
    -fx-text-fill: white;           /* White text */
    -fx-font-size: 14px;            /* Button font size */
    -fx-padding: 8px 15px;          /* Padding for the button */
    -fx-background-radius: 5px;     /* Rounded corners for the button */

}
/* Button hover effect */
.alert .button:hover {
    -fx-background-color: #0056b3; /* Darker blue when hovered */
}